[project]
	description = Education application based on Angularjs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rifat Nabi (torifat)
[access "refs/for/refs/*"]
	read = group user/Rifat Nabi (torifat)
	push = group user/Rifat Nabi (torifat)
	label-Code-Review = -2..+2 group user/Rifat Nabi (torifat)
	label-Verified = -1..+1 group user/Rifat Nabi (torifat)
	rebase = group user/Rifat Nabi (torifat)
	removeReviewer = group user/Rifat Nabi (torifat)
	submit = group user/Rifat Nabi (torifat)
[access "refs/heads/*"]
	read = group user/Rifat Nabi (torifat)
	create = group user/Rifat Nabi (torifat)
	push = +force group user/Rifat Nabi (torifat)
	pushMerge = group user/Rifat Nabi (torifat)
[access "refs/tags/*"]
	push = +force group user/Rifat Nabi (torifat)
	pushTag = group user/Rifat Nabi (torifat)
	pushSignedTag = group user/Rifat Nabi (torifat)
